
* {
  margin: 0;
  font-family: sans-serif;
  color: #1d1421;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  background-color: rgba(121, 58, 198, 0.878);
}
.navbar h1 {
  color: #ddd9d9;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #304d83;
}
.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 16px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #35a6f1;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
  padding: 10px;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-details button {
  background: #1346bc;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #358df1;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #3538f1;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
